<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>{{ post.title }}</h3>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p style="color:green">{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li><H5>PRECIO DE OFERTA:</H5>
                <H3><strong>{{ post.client }}</strong></H3>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <a href="https://wa.me/34555005500/?text=tu%20texto%20personalizado" target="_blank">
            <img src="pedido.png" width="50" height="50">
            </a>
            
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
